FILESERVER_POSTGRES_PROD=''
FILESERVER_POSTGRES_PREPROD=''
FILESERVER_POSTGRES_HML=''
FILESERVER_POSTGRES_TST=''
FILESERVER_POSTGRES_DEV=''

CESV_PROD=''
CESV_PREPROD=''
CESV_HML=''
CESV_TST=''
CESV_DEV=''

FILESERVER_MONGODB_PROD=''
FILESERVER_MONGODB_PREPROD=''
FILESERVER_MONGODB_HML=''
FILESERVER_MONGODB_TST=''
FILESERVER_MONGODB_DEV=''